<!doctype html>
<html lang="en">
{{> layout/header}}
<body>
{{> layout/navbar}}
<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers </h1>
    <div class="card-deck">
        {{#trainers}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" {{name}}></h4>
                </div>
                <div>
                    {{#team}}
                    <div>
                    </div>
                    {{#pokemonTypes}}
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{name}}
                            <span class="badge badge-secondary">Id {{id}}</span>
                        </h4>
                    </div>
                    <span><img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon"/></span>
                    {{/pokemonTypes}}
                    <div  class="card-body">
                        <span class="badge badge-primary"> name : {{name}}</span>
                        <span class="badge badge-primary"> id : {{pokemonType}}</span>
                        <span class="badge badge-primary"> level : {{level}}</span>
                    </div>
                    {{/team}}
                </div>
            </div>
        </div>
        {{/trainers}}
    </div>
</div>

</body>
</html>